/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

/* Styling the sidebar */
  .sidenav {
    height: 100%;
    width: 160px;
    z-index: 1;
    background-color: gainsboro;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
  }

  #sidenavContent {
    margin-left: 5%;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 15px;
    font-size: 17px;
    width: 15%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  /* .main {
    margin-left: 30%;
  } */


  #column {
    float: left;
    width: 15%;
    padding-left: 5%;
    border: white;
  }
  data {
    outline: 5px white;
    border: white;
  }



  /* Setting the background colour for each tab */
  #Battery {background-color: black;}
  #Motor {background-color: black;}
  #Array {background-color: black;}
  #Error {background-color: black;}
  #About {background-color: black;}
  #Maps {background-color: black;}