body {
    background-color: #4B5358;
    color: lightcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container, .data-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-card {
    border: 3px solid lightsteelblue;
    border-radius: 12px;
}

.data-card.large {
    width: 80vw;
    margin: 3vh 2vw;
}

.data-card.large .card-info {
    width: 70vw;
    margin: 3vh 2vw;
}

.data-card.large .card-info {
    display: grid;
    gap: 15px 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card-info span {
    text-align: center;
}

.card-grid {
    width: 80vw;;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card-grid .data-card {
   margin: 5px;
}
