/* Body*/

body {
    background-image: url('../img/background.jpg');
    color: lightcyan;
    font-family: Calibri;
}

td {
    padding: 1%;
    font-size: 20px;
}

/* Titlebar*/

#Titlebar {
    background-color:#2a2a45;
    position: fixed;
    height: 10%;
    width: 35%;

    border-radius: 3%;
}

#Titlebar-Emblem-SolarLogo {
    position: absolute;
    height: 95%;
    top: 2.5%;
    left: 10%;
}

#Titlebar-table {
    position: absolute;
    left: 30%;
    width: 70%;
}

#Titlebar-link {
    color: lightcyan;
}

/* Sidebar*/

#SideNav {
    background-color: #2a2a45;
    position: fixed;
    height: 85%;
    width: 35%;
    top: 12.5%;

    border-radius: 3%;
}

#SideNav-Emblem {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 45%;
    height: 10%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#SideNav-Communications {
    position: absolute;
    top: 36%;
    right: 2.5%;
    width: 45%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#SideNav-BatterySummary {
    position: absolute;
    top: 20.5%;
    left: 2.5%;
    width: 45%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#SideNav-MotorSummary {
    position: absolute;
    top: 5%;
    right: 2.5%;
    width: 45%;
    
    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#SideNav-BatteryFaults {
    position: absolute;
    top: 70%;
    right: 2.5%;
    width: 95%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

/* SideNav lower elements */

#SideNav-Emblem-Solarlogo {
    width: 98%;
    height: 42%;
    padding: 2%;
}

.SideNav-header {
    font-size: 20px;
    text-align: center;
}

.SideNav-mainheader {
    font-size: 30px;
    text-align: center;
}

.SideNav-table {
    font-size: 20px;

    width: 100%;
    padding: 2%;
    
}

/* graph tab */

#GraphNav {
    position: fixed;
    left: 36%;
    height: 96.75%;
    width: 30%;
    background-color:#2a2a45;

    border-radius: 3%;
}

#GraphNav-Title {
    position: absolute;
    width: 95%;
    height: 10%;
    left: 2.5%;
    top: 2%;

    text-align: center;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#GraphNav-Temp {
    position: absolute;
    width: 95%;
    height: 20%;
    top: 25%;
    left: 2.5%;

    text-align: center;
}

#GraphNav-Speed {
    position: absolute;
    width: 95%;
    height: 20%;
    top: 50%;
    left: 2.5%;

    text-align: center;
}

#GraphNav-Current {
    position: absolute;
    width: 95%;
    height: 20%;
    top: 75%;
    left: 2.5%;

    text-align: center;
}

/* Style tab links */

#tab-bar {
    background-color:#2a2a45;
    position: fixed;
    width: 33%;
    left: 66.5%;
    height: 10%;

    border-radius: 3%;
}

.tablink {
    background-color: #2a2a45;
    text-align: center;
    border: none;
    outline: none;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    width: 32.5%;
    height: 100%;
}

.tablink:hover {
    background-color: lightsteelblue;
}

/* Style for contents in each tabs */
.tabcontent {
    background-color:#2a2a45;
    position: fixed;
    display: none;
    height: 85%;
    width: 33%;
    left: 66.5%;
    top: 12.5%;

    border-radius: 3%;
}

#Faults {
    display: inline;
}

#Faults-bmsState {
    position: absolute;
    top: 4.5%;
    left: 2.5%;
    width: 95%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#Faults-batteryFault {
    position: absolute;
    top: 25%;
    left: 2.5%;
    width: 95%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#Faults-batteryWarning {
    position: absolute;
    top: 53.5%;
    left: 2.5%;
    width: 95%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

#Faults-motorWarning {
    position: absolute;
    top: 74.5%;
    left: 2.5%;
    width: 95%;

    border: 3px solid lightsteelblue;
    border-radius: 20px;
}

.Faults-header {
    text-align: center;
}

.tab-table {
    font-size: 20px;

    width: 100%;
    padding: 1%;
}

.tablink {
    color: lightcyan;
}



