/* Body*/

body {
    background-color: #4B5358;
    color: lightcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td {
    margin: 1%;
    font-size: 1.5vmin;
    padding-bottom: 1vmin;
}

/* Titlebar*/

#Titlebar {
    background-color:#58A4B0;
    position: fixed;
    height: 11%;
    width: 33%;
    left: 1.5%;

    border-radius: 2vmax;
}

#Titlebar-Emblem-SolarLogo {
    position: absolute;
    height: 9vmin;
    top: 8%;
    left: 2%;
}

#Titlebar-table {
    position: absolute;
    left: 25%;
    width: 70%;
}

#Titlebar-link {
    color: lightcyan;
}

.Titlebar-mainheader {
    padding-top: 3.5%;
    font-size: 3vmin;
}

/* Sidebar*/

#SideNav {
    background-color: #4B5358;
    position: fixed;
    height: 85%;
    width: 35%;
    top: 13%;

    border-radius: 2vw;
}

#SideNav-Emblem {
    position: relative;
    top: 1vw;
    left: 1vw;
    width: 46%;
    height: 15%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#SideNav-Communications {
    position: absolute;
    top: 38%;
    right: 1vmax;
    height: 31%;
    width: 45%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#SideNav-Communications td {
    padding-bottom: 1vh;
}

#SideNav-BatterySummary {
    position: absolute;
    top: 19%;
    left: 1vmax;
    width: 46%;
    height: 50%;

    border-spacing: 1%;
    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#SideNav-BatterySummary td {
    padding-bottom: 1vh;
}

#SideNav-MotorSummary {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 45%;
    height: 34%;
    
    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#SideNav-MotorSummary td {
    padding-bottom: 1vh;
}

#SideNav-BatteryFaults {
    position: absolute;
    bottom: 2%;
    left: 1vmax;
    right: 1vmax;
    width: 93%;
    height: 26%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#SideNav-BatteryFaults td {
    padding-bottom: 1vh;
}

/* SideNav lower elements */

#SideNav-Emblem-Solarlogo {
    width: 98%;
    height: 42%;
    padding: 2%;
}

.SideNav-header {
    font-size: 3vmin;
    text-align: center;
}

.SideNav-mainheader {
    font-size: 3vmin;
    text-align: center;
}

.SideNav-table {
    width: 100%;
    padding: 2%;
}

/* graph tab */

#GraphNav {
    position: fixed;
    left: 36%;
    height: 97%;
    width: 30%;
    background-color:#4B5358;
    font-size: 1.5vmin;

    border-radius: 2vmax;
}

#GraphNav-Title {
    position: absolute;
    width: 94%;
    height: 9%;
    left: 2.5%;
    top: 0.75%;

    text-align: center;

    border: 3px solid lightsteelblue;
    border-radius: 2vmax;
}

#GraphNav-Temp {
    position: absolute;
    width: 95%;
    height: 20%;
    top: 25%;
    left: 2.5%;

    text-align: center;
}

#GraphNav-Speed {
    position: absolute;
    width: 95%;
    height: 20%;
    top: 50%;
    left: 2.5%;

    text-align: center;
}

#GraphNav-Current {
    position: absolute;
    width: 95%;
    height: 20%;
    top: 75%;
    left: 2.5%;

    text-align: center;
}

/* Style tab links */

#tab-bar {
    /* background-color:#2a2a45; */
    position: fixed;
    width: 33%;
    left: 67.5%;
    height: 10%;

    border-radius: 25%;
}

.tablink {
    background-color: #E75A7C;
    text-align: center;
    border: none;
    outline: none;
    top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 2vmin;
    width: 31%;
    height: 105%;

    border-radius: 2vw;
}

.tablink:hover {
    background-color:#A3C4BC;
}

.tablink:focus {
    background-color: #A3C4BC !important;
}
/* Style for contents in each tabs */
.tabcontent {
    background-color:#4B5358;
    position: fixed;
    display: none;
    height: 85%;
    width: 33%;
    left: 66.5%;
    top: 12.5%;

    font-size: 2vmin;

    border-radius: 2vw;
}

#Faults {
    display: inline;
}

#Faults-bmsState {
    position: absolute;
    top: 2%;
    left: 2.5%;
    width: 95%;
    height: 22.5%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#Faults-batteryFault {
    position: absolute;
    top: 26.5%;
    left: 2.5%;
    width: 95%;
    height: 22.5%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#Faults-batteryWarning {
    position: absolute;
    top: 51%;
    left: 2.5%;
    width: 95%;
    height: 22.5%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

#Faults-motorWarning {
    position: absolute;
    top: 75.5%;
    left: 2.5%;
    width: 95%;
    height: 22.5%;

    border: 3px solid lightsteelblue;
    border-radius: 2vw;
}

.Faults-header {
    text-align: center;
}

.tab-table {
    font-size: 20px;

    width: 100%;
    padding: 1%;
}

/* Making this stuff responsive for smaller screen sizes */
@media only screen and (max-width: 800px) {
    #Titlebar {
        width: 96% !important;
        float: top !important;
        left: 2% !important;
        position: relative !important;
    }

    .Titlebar-mainheader {
        left: 1vmin !important;
        top: 2vmin !important;
        font-size: auto !important;
    }

    #SideNav {
        width: 96% !important;
        float: top !important;
        left: 2% !important;
        top: 2% !important;
        position: relative !important;
    }

    #SideNav-BatteryFaults {
        width: auto !important;
        top: 72% !important;
    }

    #GraphNav {
        width: 96% !important;
        float: top !important;
        left: 2% !important;
        top: 5% !important;
        position: relative !important;
    }

    #tab-bar {
        width: 96% !important;
        float: top !important;
        left: 5% !important;
        top: 8% !important;
        position: relative !important;
    }


    .tabcontent {
        width: 96% !important;
        float: top !important;
        left: 2% !important;
        top: 10% !important;
        position: relative !important;
    }

    td {
        font-size: 1.5vmax;
    }

}

